    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: #343c56;
    }
    
    .container {
        margin: 46px 86px;
    }
    
    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
    }
    
    ul li {
        background-color: #ff0101;
        border-radius: 30px;
        padding: 14px 45px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 12px;
    }
    
    .main2 {
        display: flex;
        justify-content: space-between;
        margin: 68px 0;
    }
    
    .main4 {
        background-color: black;
        width: 264px;
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.05px;
        text-align: center;
        border-radius: 40px;
        color: white;
        margin: 0 auto;
        padding: 44px 0;
    }
    
    .red {
        background-color: red;
        padding: 45px 50px;
        border-radius: 50px;
        width: 400px;
    }
    
    .red p {
        background-color: greenyellow;
        padding: 28px 20px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 700;
        line-height: 14.52px;
        text-align: center;
    }
    
    .main3 {
        display: flex;
        justify-content: space-between;
    }